*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#progress-bar
{
  background-color: red;
  width: 0%;
}

#progress-percent
{
  text-align: center;
}

.easy i:first-child, .medium i:nth-child(-n+2), .hard i:nth-child(-n+3){
  color:yellow;
}


.select-ans
{
  background-color: green;
}

.none
{
  background-color: white !important;
}

#score
{
  display: flex;
  justify-content: space-between;
}

.progress
{
  height: 15px;
}

#correct-answered-score
{
  background-color: green;
  width: 0%;
  position: absolute;
  z-index: 10;
}

#total-wrong-score
{
  background-color: red;
  width: 0%;
  z-index: 15;
  position: absolute;
}
#total-correct-score
{
  background-color: yellow;
  width: 0%;
}